@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewBag.IsConnected</h1>
<h1>@ViewBag.IsMessageSent</h1>
<h1>@ViewBag.IsLoginFailed</h1>
<h1>@ViewBag.IsConnectFailed</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
